<% include layout/head %>

<div class="main">
  <% include layout/nav %>
  <div class="container-fluid">
    <div class="page-title">
      <h1>所有文章</h1>
      <a href="post-add.html" class="btn btn-primary btn-xs">写文章</a>
    </div>
    <!-- 有错误信息时展示 -->
    <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
    <div class="page-action">
      <!-- show when multiple checked -->
      <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
      <form class="form-inline">
        <select id="sel" class="form-control input-sm">
          <option value="0">所有分类</option>
        </select>
        <select id="sta" class="form-control input-sm">
          <option value="0">所有状态</option>
          <option value="drafted">草稿</option>
          <option value="published">已发布</option>
        </select>
        <button id="check" class="btn btn-default btn-sm">筛选</button>
      </form>
      <ul id="pagination" class="pagination pagination-sm pull-right">

      </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" width="40"><input type="checkbox"></th>
          <th>标题</th>
          <th>作者</th>
          <th>分类</th>
          <th class="text-center">发表时间</th>
          <th class="text-center">状态</th>
          <th class="text-center" width="100">操作</th>
        </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </div>
</div>
<% include layout/aside %>
<% include layout/footer %>
<script src="/assets/vendors/twbs-pagination/jquery.twbsPagination.js"></script>
<script id="tmp" type="text/html">
        {{ each data[0] }}
        <tr>
          <td class="text-center"><input type="checkbox"></td>
          <td>{{ $value.title }}</td>
          <td>{{ $value.nickname}}</td>
          <td>{{ $value.name }}</td>
          <td class="text-center"> {{ $value.created }} </td>
          <td class="text-center">{{ $value.status === 'published' ? '已发布' : '草稿' }}</td>
          <td class="text-center">
            <a href="/post-edit?id={{$value.id}}" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
          </td>
        </tr>
        {{ /each }}
      </script>

<!-- 渲染分类下拉框数据 -->
<script id="options" type="text/html">
  {{ each data }}
  <option value="{{ $value.id }}">{{ $value.name }}</option>
  {{ /each }}
</script>
<script>
  //设置每页显示的条数
  var pagesize = 10;

  // 用来获取文章数据
  // page: 设置当前页
  // pagesize: 设置每页显示的数据数量
  function getPostsData(page, pagesize) {
    // 得到筛选的条件
    let sel = $('#sel').val(); //得到分类的条件
    let sta = $('#sta').val(); //得到状态的条件
    $.ajax({
      //将 page 和 pagesize 提交到服务器
      url: `/getPostData?page=${page}&pagesize=${pagesize}&sel=${sel}&sta=${sta}`,
      method: 'GET',
      success: res => {
        console.log(res.data);
        let { status, msg } = res;
        if (status === 200) {
          let html = template('tmp', res);
          $('#tbody').html(html);
          //得到总数
          let total = res.data[1][0]['count(*)']; //8
          // 初始化分页插件
          initPage(total, pagesize);
        } else {
          alert(msg);
        }
      }
    })
  }
  getPostsData(1, pagesize);

  // 初始化分页插件的方法
  function initPage(total, pagesize) {
    $('#pagination').twbsPagination({
      totalPages: Math.ceil(total / pagesize), // 总页数
      visiblePages: 5, // 可见页数
      // startPage: 1, // 初始化页数
      hideOnlyOnePage: true, // 只有一页时隐藏
      first: '首页', // 第一页显示文本
      last: '尾页', // 最后一页显示的文本
      prev: '上一页', // 上一页显示的文本
      next: '下一页', // 下一页显示的文本
      initiateStartPageClick: false,
      onPageClick: function (event, page) { //点击分页元素时触发的事件
        // page 就是当前页数
        console.log(page);
        getPostsData(page, pagesize);
      }
    })
  }
  // initPage();

  //动态渲染分类下拉框的数据
  function getSelData() {
    $.ajax({
      url: '/getCategories',
      method: 'GET',
      success: res => {
        //将数据渲染到下拉框
        let { status, msg } = res;
        if (status === 200) {
          //渲染数据
          let html = template('options', res);
          // 添加
          $('#sel').append(html);
        }
      }
    })
  }
  getSelData();

  //给筛选按钮绑定点击事件
  // 点击按钮后应该重新请求数据(有筛选条件)
  $('#check').click((event) => {
    // 阻止默认行为
    event.preventDefault();
    // 调用分页的销毁方法
    $('#pagination').twbsPagination('destroy');
    // 点击筛选时调用方法重新渲染筛选后的数据
    getPostsData(1, pagesize);
  })
</script>